<%- include('../../fragments/header.ejs') %>


        <main>
           <table class="table-list">
            <thead>
            <tr>
                <th><%= __('car.fields.maker') %></th>
                <th><%= __('car.fields.model') %></th>
                <th class="hide-collumn"><%= __('car.fields.plates') %></th>
                <th><%= __('car.fields.actions') %></th>

            </tr>
            </thead>
            <tbody>
                <% for ( let car of cars) { %>
                <tr>
                    <td><%= car.maker %></td>
                    <td><%= car.model %></td>
                    <td><%= car.plates %></td>
                    <td class="list-actions"><ul>
                        <li><a href="cars/details/<%= car._id %>" class="list-actions-button-details"><%= __('list.actions.details') %> </a></li>
                        <% if(loggedUser) { %>
                        <li><a href="cars/delete/<%= car._id %>" class="list-actions-button-delete"><%= __('list.actions.delete') %></a></li>
                        <li><a href="cars/edit/<%= car._id %>" class="list-actions-button-edit"><%= __('list.actions.edit') %></a></li>
                        <% } %>
                    </ul></td>
                    
                </tr>
                <% } %>
            </tbody>
           </table>
           <% if(loggedUser) { %>

           <p><a href="cars/add" class="button-add"><%= __('car.list.addNew') %></a></p>
           <% } %>

        </main>
        <%- include('../../fragments/footer.ejs') %>