<%- include('../../fragments/header.ejs') %>


        <main>
           <table class="table-list">
            <thead>
            <tr>
                <th>Marka</th>
                <th>Model</th>
                <th class="hide-collumn">Numer Rejestracyjny</th>
                <th>Akcje</th>

            </tr>
            </thead>
            <tbody>
                <% for ( let car of cars) { %>
                <tr>
                    <td><%= car.maker %></td>
                    <td><%= car.model %></td>
                    <td><%= car.plates %></td>
                    <td class="list-actions"><ul>
                        <li><a href="cars/details/<%= car._id %>" class="list-actions-button-details">Szczegóły </a></li>
                        <% if(loggedUser) { %>
                        <li><a href="cars/delete/<%= car._id %>" class="list-actions-button-delete">Usuń</a></li>
                        <li><a href="cars/edit/<%= car._id %>" class="list-actions-button-edit">Edytuj Auto</a></li>
                        <% } %>
                    </ul></td>
                    
                </tr>
                <% } %>
            </tbody>
           </table>
           <% if(loggedUser) { %>

           <p><a href="cars/add" class="button-add">Dodaj nowe auto</a></p>
           <% } %>

        </main>
        <%- include('../../fragments/footer.ejs') %>