<%- include('../../fragments/header.ejs') %>
<script type="application/javascript" src="/resources/code/validateEmpForm.js"></script>

        <main>
         <h1><%= pageTitle %></h1>
         <form class="form" method="post" action="<%formAction%>" novalidate onsubmit="return validateFormEmployee();">
         
          <input type="hidden" name="_id" value="<%= emp._id %>">

           <label for="firstName"><%= __('emp.fields.firstName') %> <span class="symbol-required">*</span></label> 
           <input type="text" name="firstName" id="firstName" placeholder="2-60 znaków"  
            value="<%= emp.firstName %>" <%= (formMode == 'showDetails') ? 'disabled' : '' %>
            class="<%= validationErrors.find(e => e.path.includes('firstName')) ? 'error-input' : '' %>">
           <span id="errorFirstName" class="error-text">
            <% if (validationErrors.find(e => e.path.includes('firstName'))) { %>
              <%= validationErrors.find(e => e.path.includes('firstName')).message %>
          <% } %>
           </span>

           <label for="lastName" > <%= __('emp.fields.lastName') %> <span class="symbol-required">*</span></label>
            <input type="text" name="lastName" id="lastName"  placeholder="2-60 znaków" 
             value="<%= emp.lastName %>" <%= (formMode == 'showDetails') ? 'disabled' : '' %> 
             class="<%= validationErrors.find(e => e.path.includes('lastName')) ? 'error-input' : '' %>">
             
            <span id="errorLastName" class="error-text">
              <% if (validationErrors.find(e => e.path.includes('lastName'))) { %>
                <%= validationErrors.find(e => e.path.includes('lastName')).message %>
            <% } %>
            </span>

           <label for="phone_number"><%= __('emp.fields.phone_number') %> +48<span class="symbol-not-required"></span></label> 
           <input type="tel" name="phone_number" id="phone_number" maxlength="9" placeholder="123 456 789"  
           value="<%= emp.phone_number %>" <%= (formMode == 'showDetails') ? 'disabled' : '' %> 
           class="<%= validationErrors.find(e => e.path.includes('phone_number')) ? 'error-input' : '' %>">
           <span id="errorPhoneNumber" class="error-text">
            <% if (validationErrors.find(e => e.path.includes('phone_number'))) { %>
              <%= validationErrors.find(e => e.path.includes('phone_number')).message %>
          <% } %>
           </span>

           <label for="address"><%= __('emp.fields.address') %>: <span class="symbol-required">*</span></label>
           <input type="text" name="address" id="address" placeholder="ul. Jana Pawła II, Radzymin 05-250"  
           value="<%= emp.address %>" <%= (formMode == 'showDetails') ? 'disabled' : '' %>
           class="<%= validationErrors.find(e => e.path.includes('address')) ? 'error-input' : '' %>">
           <span id="errorAddress" class="error-text">
            <% if (validationErrors.find(e => e.path.includes('address'))) { %>
              <%= validationErrors.find(e => e.path.includes('address')).message %>
          <% } %>
           </span>
           <% if(loggedUser) { %>

           <% if (formMode == 'showDetails') { %>
            <div class="section-buttons">
                <a href="/employee/edit/<%= emp._id %>" class="button-edit"><%= __('form.actions.edit') %></a>
            </div>
            <% } %>
            <% } %>

        
            <% if (formMode == 'showDetails' || formMode == 'edit') { %> 
              <h2>Szczegóły napraw </h2>
              <table class="table-list">
                <thead>
                  <tr>
                    <th><%= __('repairment.fields.car') %></th>
                    <th><%= __('repairment.fields.mechanic') %></th>
                    <th><%= __('repairment.fields.date') %></th>
                  </tr>
                  </thead>
                  <tbody>
                    <% for (let e of emp.repairments) { %>
                      <tr>
                        <td><a href="/cars/details/<%= e.car._id %>">
                          <%= e.car.maker + " " + e.car.model %>
                        </a></td>
                        <td><%= e.description %></td>
                        <td><%= e.repairment_date.toISOString().split('T')[0] %></td>

                      </tr>
                      <% } %>
                  </tbody>
              </table>
              <% } %>




        <div class="form-buttons">
          <p id="errorsSummary" class="error-text"></p>
          <% if (formMode != 'showDetails') { %>
            <input type="submit" value="<%=btnLabel%>"   class="form-button-submit"/>
            <a href="/employee" class="form-button-cancel"><%= __('form.actions.cancel') %></a>
            <% } else { %>
              <a class="form-button-cancel" href="/employee"><%= __('form.actions.return') %></a>
              <% } %>
        </div>
         
      </form>
        </main>
        <%- include('../../fragments/footer.ejs') %>