<%- include('../../fragments/header.ejs') %>

        <main>
           <table class="table-list">
            <thead>
                <tr>
                    <th>Imię</th>
                    <th>Nazwisko</th>
                    <th>Numer Telefonu</th>
                    <th>Adres</th>
                    <th>Akcje</th>
                </tr>
            </thead>
            <tbody>
                <% for (let emp of emps) { %>
                    <tr>
                    <td><%= emp.firstName %></td>
                    <td><%= emp.lastName %></td>
                    <td><%= emp.phone_number %></td>
                    <td><%= emp.address %></td>

                    <td class="list-actions"><ul>
                        <li><a href="/employee/details/<%= emp._id %>" class="list-actions-button-details">Szczegóły</a></li>
                        <% if(loggedUser) { %>

                        <li><a href="/employee/delete/<%= emp._id %>" class="list-actions-button-delete">Usuń Pracownika</a></li>
                        <li><a href="/employee/edit/<%= emp._id %>" class="list-actions-button-edit">Edytuj Pracownika</a></li>
                        <% } %>

                    </ul></td>
                    </tr>
                <% } %>
            </tbody>
            
           </table>
           <% if(loggedUser) { %>

           <p><a href="/employee/add" class="button-add">Dodaj nowego pracownika</a></p>
           <% } %>

        </main>
        <%- include('../../fragments/footer.ejs') %>