<%- include('../../fragments/header.ejs') %>
<script type="application/javascript" src="/resources/code/validateFormRepairment.js"></script>

        <main>
         <h1><%= pageTitle %></h1>
         <form class="form" method="post" action="<%formAction%>" novalidate onsubmit="return validateFormRepairment();">
         
          <input type="hidden" name="_id" value="<%= repairment._id %>">

          <label for="carName">Auto<span class="symbol-required">*</span></label> 
          <select id="car_id" name="car_id" required <%= (formMode == 'showDetails') ? 'disabled' : '' %> >
            <option value="" selected>--- Wybierz auto ---</option>
            <% for (let i=0; i<allCars.length; i++) { let car = allCars[i]; %>
              <option value="<%= car._id %>" label="<%= car.maker +' '+  car.model %>" 
                <%= (repairment._id && car._id.toString() == repairment.car._id.toString()) ? 'selected' : ''%> >
              </option> 
              <% } %>
            </select>
            <span id="errorCar" class="error-text"></span>

            
              <label for="mechanic">Mechanik <span class="symbol-required">*</span></label>
              <select id="mechanic_id" name="mechanic_id" required <%= (formMode == 'showDetails') ? 'disabled' : '' %> >
              <option value="" selected>--- Wybierz mechanika ---</option>
            <% for (let i=0; i<allEmps.length; i++) { let emp = allEmps[i]; %>
              <option value="<%= emp._id %>" label="<%= emp.firstName +' '+  emp.lastName %>" 
                <%= (repairment._id && emp._id.toString() == repairment.employee._id.toString()) ? 'selected' : ''%> >
              </option> 
              <% } %>
            </select>
            <span id="errorMechanic" class="error-text"></span>

            <label for="description">Opis: </label>
            <input type="text" name="description" id="description" />
            <span id="errorDescritpion" class="error-text"></span>

            <label for="repairDate">Data naprawy: <span class="symbol-required">*</span></label>
             <input type="date" name="repairment_date" id="repairment_date" required/>
            <span id="errorRepairDate" class="error-text"></span>
             

           <% if (formMode == 'showDetails') { %>
            <div class="section-buttons">
                <a href="/repairment/edit/<%= repairment._id %>" class="button-edit">Edytuj</a>
            </div>
            <% } %>
          
        
            



        <div class="form-buttons">
          <p id="errorsSummary" class="error-text"></p>
          <% if (formMode != 'showDetails') { %>
            <input type="submit" value="<%=btnLabel%>" class="form-button-submit"/>
            <a href="/repairments" class="form-button-cancel">Anuluj</a>
            <% } else { %>
              <a class="form-button-cancel" href="/repairments">Powrót</a>
              <% } %>
        </div>
      </form>
         

        </main>
        <%- include('../../fragments/footer.ejs') %>