<%- include('../../fragments/header.ejs') %>
<script type="application/javascript" src="/resources/code/validateFormRepairment.js"></script>

        <main>
         <h1><%= pageTitle %></h1>
         <form class="form" method="post" action="<%formAction%>" novalidate onsubmit="return validateFormRepairment();">
         
          <input type="hidden" name="_id" value="<%= repairment._id %>">

          <label for="carName"><%= __('repairment.fields.car') %><span class="symbol-required">*</span></label> 
          <select id="car_id" name="car_id" required <%= (formMode == 'showDetails') ? 'disabled' : '' %> 
            class="<%= validationErrors.find(e => e.path.includes('car_id')) ? 'error-input' : '' %>">
            
            <option value="" selected><%= __('repairment.form.add.car-list') %></option>
            <% for (let i=0; i<allCars.length; i++) { let car = allCars[i]; %>
              <option value="<%= car._id %>" label="<%= car.maker +' '+  car.model %>" 
                <%= (repairment._id && car._id.toString() == repairment.car._id.toString()) ? 'selected' : ''%> >
              </option> 
              <% } %>
            </select>
            <span id="errorCar" class="error-text">
              <% if (validationErrors.find(e => e.path.includes('client_id'))) { %>
                <%= validationErrors.find(e => e.path.includes('client_id')).message %>
            <% } %>
            </span>

            
              <label for="mechanic"><%= __('repairment.fields.mechanic') %> <span class="symbol-required">*</span></label>
              <select id="mechanic_id" name="mechanic_id" required <%= (formMode == 'showDetails') ? 'disabled' : '' %> 
                class="<%= validationErrors.find(e => e.path.includes('mechanic_id')) ? 'error-input' : '' %>">

              <option value="" selected><%= __('repairment.form.add.mechanic-list') %></option>
            <% for (let i=0; i<allEmps.length; i++) { let emp = allEmps[i]; %>
              <option value="<%= emp._id %>" label="<%= emp.firstName +' '+  emp.lastName %>" 
                <%= (repairment._id && emp._id.toString() == repairment.employee._id.toString()) ? 'selected' : '' %> >
              </option> 
              <% } %>
            </select>
            <span id="errorMechanic" class="error-text">
              <% if (validationErrors.find(e => e.path.includes('mechanic_id'))) { %>
                <%= validationErrors.find(e => e.path.includes('mechanic_id')).message %>
            <% } %>
            </span>

            <label for="description"><%= __('repairment.fields.description') %>: </label>
            <input type="text" name="description" id="description" value="<%= repairment.description %>"
            class="<%= validationErrors.find(e => e.path.includes('description')) ? 'error-input' : '' %>" />
            <span id="errorDescritpion" class="error-text">
              <% if (validationErrors.find(e => e.path.includes('description'))) { %>
                <%= validationErrors.find(e => e.path.includes('description')).message %>
            <% } %>
            </span>

            <label for="repairment_date"><%= __('repairment.fields.date') %>: <span class="symbol-required">*</span></label>
             <input type="date" name="repairment_date" id="repairment_date" value="<%= repairment.repairment_date %>" required
             class="<%= validationErrors.find(e => e.path.includes('repairment_date')) ? 'error-input' : '' %>"/>
            <span id="errorRepairDate" class="error-text">
              <% if (validationErrors.find(e => e.path.includes('repairment_date'))) { %>
                <%= validationErrors.find(e => e.path.includes('repairment_date')).message %>
            <% } %>
            </span>
             
            <% if(loggedUser) { %>

           <% if (formMode == 'showDetails') { %>
            <div class="section-buttons">
                <a href="/repairment/edit/<%= repairment._id %>" class="button-edit"><%= __('list.actions.edit') %></a>
            </div>
            <% } %>
            <% } %>

        
            



        <div class="form-buttons">
          <p id="errorsSummary" class="error-text"></p>
          <% if (formMode != 'showDetails') { %>
            <input type="submit" value="<%=btnLabel%>" class="form-button-submit"/>
            <a href="/repairments" class="form-button-cancel"><%= __('form.actions.cancel') %></a>
            <% } else { %>
              <a class="form-button-cancel" href="/repairments"><%= __('form.actions.return') %></a>
              <% } %>
        </div>
      </form>
         

        </main>
        <%- include('../../fragments/footer.ejs') %>