<%- include('../../fragments/header.ejs') %>

        <main>
           <table class="table-list">
            <thead>
                <tr>
                    <th><%= __('repairment.fields.car') %></th>
                    <th><%= __('repairment.fields.mechanic') %></th>
                    <th><%= __('repairment.fields.description') %></th>
                    <th><%= __('repairment.fields.date') %></th>
                    <th><%= __('repairment.fields.actions') %></th>
                </tr>
            </thead>
                <tbody>
                    <% for (let repairment of repairments) { %>
                    <tr>
                        <td><%= repairment.car.maker + ' ' + repairment.car.model %></td>
                        <td><%= repairment.employee.firstName + ' '+ repairment.employee.lastName %></td>
                        <td><%= repairment.description %></td>
                        <td><%= repairment.repairment_date.toISOString().split('T')[0] %></td>
                        <td class="list-actions">
                        <ul>
                            <% if(loggedUser) { %>

                            <li><a href="/repairments/delete/<%= repairment._id %>" class="list-actions-button-delete"><%= __('list.actions.delete') %></a></li>
                            <li><a href="/repairments/edit/<%= repairment._id %>" class="list-actions-button-edit"><%= __('list.actions.edit') %></a></li>
                            <% } %>

                        </ul></td>
                    </tr>
                    <% } %>
                </tbody>
           </table>
           <% if(loggedUser) { %>

           <p><a href="/repairments/add" class="button-add"><%= __('repairment.form.add.btnLabel') %></a></p>
           <% } %>
        </main>
        <%- include('../../fragments/footer.ejs') %>