<%- include('../../fragments/header.ejs') %>

        <main>
           <table class="table-list">
            <thead>
                <tr>
                    <th>Auto</th>
                    <th>Mechanik</th>
                    <th>Opis naprawy</th>
                    <th>Data naprawy</th>
                    <th>Akcje</th>
                </tr>
            </thead>
                <tbody>
                    <% for (let repairment of repairments) { %>
                    <tr>
                        <td><%= repairment.car.maker + ' ' + repairment.car.model %></td>
                        <td><%= repairment.employee.firstName + ' '+ repairment.employee.lastName %></td>
                        <td><%= repairment.description %></td>
                        <td><%= repairment.repairment_date.toISOString().split('T')[0] %></td>
                        <td class="list-actions">
                        <ul>
                            <% if(loggedUser) { %>

                            <li><a href="/repairments/delete/<%= repairment._id %>" class="list-actions-button-delete">Usuń naprawę</a></li>
                            <li><a href="/repairments/edit/<%= repairment._id %>" class="list-actions-button-edit">Edytuj Naprawę</a></li>
                            <% } %>

                        </ul></td>
                    </tr>
                    <% } %>
                </tbody>
           </table>
           <% if(loggedUser) { %>

           <p><a href="/repairments/add" class="button-add">Dodaj nową naprawę</a></p>
           <% } %>
        </main>
        <%- include('../../fragments/footer.ejs') %>