<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
        <meta name="charset" content="UTF-8"/>
        <meta name="language" content="pl-PL"/>
        <meta name="content-type" content="text/html"/>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <script type="application/javascript" src="/resources/code/validationCommon.js"></script>
    </head>
    
   
    <body>
        <header id="header">
            
            <h1 class="h1-header">Pan Samochodzik</h1>
            <img src="/resources/images/mechanik.jpg" id="header-img" alt="Pan Samochodzik logo" />
        </header>
        <nav>
            <ul>
                <li><a href="/" class="<%=navLocation == 'main' ? 'active' : '' %>"><%= __('nav.main-page') %></a></li> 
                <li><a href="/cars" class="<%=navLocation == 'cars' ? 'active' : '' %>"><%= __('nav.cars') %></a></li> 
                <li><a href="/employee" class="<%=navLocation == 'employee' ? 'active' : '' %>"><%= __('nav.employees') %></a></li>
                <li><a href="/repairments" class="<%=navLocation == 'repairments' ? 'active' : '' %>"><%= __('nav.repairs') %></a></li>      
                <ul>
                    <li><a href="/changeLang/pl" class="<%= lang == 'pl' ? 'active' : ''%>">PL</a></li>
                    <li><a href="/changeLang/en" class="<%= lang == 'en' ? 'active' : ''%>">EN</a></li>
                </ul>
             </ul>
        </nav>

        <% if(!loggedUser) { %>
        <div id="login">
            <h5><%= __('login.h5') %></h5>
            <form method="post" action="/login" novalidate>
                <label for="loginLogin">Login:</label>
                <input type="email" id="loginLogin" name="login">

                <label for="loginPassword"><%= __('login.password') %></label>
                <input type="password" id="loginPassword" name="password">
                
                <input type="submit" value="<%= __('login.login') %>">
                <span id="loginErrors"><%= loginError ? loginError : ''%></span>
            </form>
        </div>
        <% } else { %>
            <span><%= __('login.loggedAs') %> <%=loggedUser.firstName + " " + loggedUser.lastName %></span>
            <a href="/logout"><%= __('login.logout') %></a>
        <% } %>